form.gift_form {
	margin-bottom: 50px;
}

div#gift input {
	width: 220px;
	margin-left: 20px;
	font-size: 15px;
	text-align: center;
	border: 0px;
	padding: 15px 0px;
	outline: none;
}

div#gift input#person_input {
	background: transparent image-url("icon_person.png") no-repeat center left;
}

div#gift input#calendar_input {
	background: transparent image-url("icon_calendar.png") no-repeat center left;
}

div#gift input#event_input {
	background: transparent image-url("icon_event_type.png") no-repeat center left;
}

div.field_container {
	float: left;
	width: 260px;
	background-color: white;
	border-radius: 10px;
	margin: 10px 0px 10px 25px;
}

input#submit_form {
	float: right;
	cursor: pointer;
	text-shadow: 1px 1px 1px black;
	margin-top: 20px;
	background: #b31414 image-url("bg_submit_button.jpg") repeat-x top center;
	font-size: 20px;
	color: white;
	border: 1px solid #a93d3a;
	border-radius: 10px;
	padding: 15px 55px;
}