@import "mixins";

form.gift_form {
	margin-bottom: 50px;
}

div#gift input {
	width: 220px;
	margin-left: 20px;
	font-size: 15px;
	text-align: center;
	border: 0px;
	padding: 15px 0px;
	outline: none;
}

div#gift input#person_input {
	background: transparent image-url("icon_person.png") no-repeat center left;
}

div#gift input#calendar_input {
	background: transparent image-url("icon_calendar.png") no-repeat center left;
}

div#gift input#event_input {
	background: transparent image-url("icon_event_type.png") no-repeat center left;
}

div.field_container {
	float: left;
	width: 260px;
	background-color: white;
	border-radius: 10px;
	margin: 10px 0px 10px 25px;
}

input#submit_form {
	@include red_submit_button;
	float: right;
	margin-top: 20px;
	
}

div#suggestion_form {
	padding: 10px;
	background-color: #96b12e;
	
	h2 {
		margin-bottom: 10px;
		font-size: 26px;
		color: #4c5b0d;
		text-shadow: 2px 2px 1px #b6d248;
	}
	
	form {
		label {
			font-size: 18px;
			color: #3d4b05;
		}
		
		label, input {
			float: left;
			clear: both;
		}
		
		label {
			margin-top: 10px;
			margin-bottom: 10px;
		}
		
		input.break_input {
			width: 375px;
			border: 0px;
			outline: none;
			font-size: 18px;
			padding: 10px 5px;
		}
		
		input#submit_suggestion {
			@include red_submit_button;
			display: block;
			margin: 20px auto 10px auto;
		}

	}
}