@import "mixins";

* {
	padding: 0px;
	margin: 0px;
}

body {
	background: #c4dfe6 image-url("bg_clouds_top.jpg") repeat-x center top;
	font-family: Georgia;
	font-size: 17px;
	color: #666;
}

a, a:active, a:visited, a:hover {
	text-decoration: none;
	color: white;
}

h1, h2 {
	width: 540px;	
	text-align: left;
	font-family: Helvetica;
	font-weight: bold;
}

h1 {
	font-size: 60px;
	color: #77a101;
	text-shadow: 2px 2px 1px #cce190;
	background: image-url("icon_gift.png") no-repeat 425px 22px;
	
	a, a:active, a:visited, a:hover {
		text-decoration: none;
		color: #77a101;
	}
}

h2 {
	font-size: 40px;
	color: #bd2120;	
	text-shadow: 2px 2px 0px #ff9897;
}

div#wrapper {
	width: 960px;
	margin: 0px auto;
}

div#header {
	margin: 30px auto;
	height: 275px;
	background: image-url("logo.png") no-repeat 685px top;
}

div#about {
	width: 540px;
	margin-top: 30px;
	font-size: 19px;
	line-height: 30px;
}

div#gift {
	position: relative;
	border-radius: 10px;
	background-color: rgb(142,177,80); //#8eb150
	background-color: rgba(142,177,80, 0.7);
	padding: 10px 10px 10px 40px;
	border: 1px solid #3d580e;
	line-height: 30px;
	font-size: 18px;
}

a#add_suggestion {
	@include red_button_text;
	display: block;
	padding: 19px 0px;
	text-align: center;
	border-radius: 10px;
	border: 1px solid #ad1212;
	margin: 25px auto;
	background: #b31414 image-url('bg_submit_suggestion.jpg') repeat-x top center;
}

div.suggestion_box {
	@include rounded_yellow;
	padding: 15px 20px;
	margin: 20px auto;
	
	img, p {
		float: left;
	}
	
	p {
		width: 230px;
		margin-left: 20px;
		font-size: 16px;
		line-height: 20px;
	}
	
	a, a:active, a:visited {
		color: #666;
		border-bottom: 1px dashed #666;
	}
}

div#share {
	p {
		line-height: 20px;
		
		br {
			line-height: 30px;
		}
	}
	
	a, a:active, a:visited {
		font-weight: bold;
		color: #666;
		border-bottom: 1px dashed #666;
	}
	
	div#social_networks {
		margin: 30px auto 10px auto;
		
		.addthis_toolbox
		{
			a, a:active, a:visited {
				color: white;
				border: 0px;
			}		
		}
	}
}


div#gift_message {
	@include rounded_yellow;	
	padding: 27px 0px;
	margin: 25px auto 45px auto;
	
	p {
		width: 740px;
		line-height: 35px;
		text-align: center;
		color: #b1870f;
		font-size: 25px;
		margin: 0px auto;
	}
}

p.none_message {
	text-align: center;
	font-size: 18px;
	margin: 20px auto;
}

div#show_container {	
	h2 {
		font-size: 35px;
	}
}

div#suggestions, div#share {
	float: left;
	width: 360px;
	padding: 0px 60px;
}

div#suggestions {
	width: 356px;
	border-right: 3px dashed white;
}


div#info_container {
	margin: 30px auto 0px auto;
}

div#info {
	width: 780px;
	margin: 20px auto 0px auto;
}

div#info div#left_info,
div#info div#right_info {
	width: 380px;
	float: left;
	font-size: 22px;
	color: #666;
}

div#info p {
	float: left;
	width: 300px;
	margin-top: 30px;
}

div#info .big_number {
	float: left;
	font-size: 90px;
	width: 60px;
	margin-right: 20px;
}

div#info div#right_info {
	margin-left: 20px;
}

div#footer-wrapper {
	background: image-url("bg_grass_bottom.jpg") no-repeat center bottom;
}

div#footer {
	position: relative;
	height: 401px;
	margin: 0px auto;
	width: 940px;
	min-width: 940px;
}

div#footer img.logo_footer {	
	position: absolute;
	right: 40px;
	bottom: 30px;
}

.separator {
	margin-top: 30px;
}