* {
	padding: 0px;
	margin: 0px;
}

body {
	background: #c4dfe6 image-url("bg_clouds_top.jpg") repeat-x center top;
	font-family: Georgia;
	font-size: 17px;
	color: #666;
}

h1, h2 {
	width: 540px;	
	text-align: left;
	font-family: Helvetica;
	font-weight: bold;
}

h1 {
	font-size: 60px;
	color: #77a101;
	text-shadow: 2px 2px 1px #cce190;
	background: image-url("icon_gift.png") no-repeat 320px 22px;
}

h2 {
	font-size: 40px;
	color: #bd2120;	
	text-shadow: 2px 2px 1px #ba5050;
}

div#wrapper {
	width: 960px;
	margin: 0px auto;
}

div#header {
	margin: 30px auto;
	height: 275px;
	background: image-url("logo.png") no-repeat 685px top;
}

div#about {
	width: 540px;
	margin-top: 30px;
	font-size: 19px;
	line-height: 30px;
}

div#gift {
	position: relative;
	border-radius: 10px;
	background-color: #8eb150;
	opacity: 0.7;
	padding: 10px 10px 10px 40px;
	border: 1px solid #3d580e;
	line-height: 30px;
	font-size: 18px;
}

div#info_container {
	margin: 30px auto 0px auto;
}

div#info {
	width: 780px;
	margin: 20px auto 0px auto;
}

div#info div#left_info,
div#info div#right_info {
	width: 380px;
	float: left;
	font-size: 22px;
	color: #666;
}

div#info p {
	float: left;
	width: 300px;
	margin-top: 30px;
}

div#info .big_number {
	float: left;
	font-size: 90px;
	width: 60px;
	margin-right: 20px;
}

div#info div#right_info {
	margin-left: 20px;
}

div#footer-wrapper {
	background: image-url("bg_grass_bottom.jpg") no-repeat center bottom;
}

div#footer {
	position: relative;
	height: 401px;
	margin: 0px auto;
	width: 940px;
	min-width: 940px;
}

div#footer img.logo_footer {	
	position: absolute;
	right: 40px;
	bottom: 30px;
}