<!DOCTYPE html>
<html>
<head>
  <title>Presentear</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="content">
	
	<div id="wrapper">
	
		<div id="header">
			<h1>Presentear</h1>
	
			<div id="about">
				<p>Invited to a party and don’t know what to buy the party animal? We feel you.</p>
				<p>Use Wrappp.it to collaborate about gift ideas with friends, family and colleagues. <strong>Chip in with others and find the perfect gift.</strong></p>
			</div>
		</div>  <!-- //header -->
	
		<div id="gift">
			<form>
				<p>Crie uma página para colaborarem com idéias de presente para <input type="text" name="person" class="dashed" size="25" /></p>
			
				<p>A sua <select><option value="festa de aniversário">festa de aniversário</select> irá ocorrer em <input type="text" name="date" size="25" class="dashed" /></p>
				
				<input type="submit" value="Continuar" class="continue_button" />
			</form>
		</div>  <!-- //search -->
		
	</div> <!-- //wrapper -->
	
	<div id="footer-wrapper">
		<div id="footer">
		</div>
	</div>
	

</div>

</body>
</html>
